.access-section {
  display: flex;
  position: relative;
}

.access-section > div {
  height: 47vh;
}

.access-section > div:first-child {
  width: 10%;
}

.access-section > div:first-child > img{
  width: 100%;
  height: 100%;
}

.access-section > div:last-child {
  background-color: #3e7588;
  width: 90%;
  text-align: right;
  z-index: 1000;
  display: flex;
  padding-right: 5vw;
  flex-direction: column;
  justify-content: center;
}

.access-section > div:last-child h1 {
  line-height: 1.4;
  z-index: 1000;
  font-size: 2.5vw;
}

.paid {
  width: 35vw;
  position: absolute;
  top: -2vh;
  left: 13vw;
  z-index: -1;
  -webkit-filter: drop-shadow(5px 10px 5px #00000085);
  filter: drop-shadow(5px 10px 5px #00000085);
}

.online-shopping {
  width: 25vw;
  z-index: -1;
  top: 12vw;
  left: 30vw;
  position: absolute;
  -webkit-filter: drop-shadow(5px 20px 5px #00000085);
  filter: drop-shadow(5px 20px 5px #00000085);
}

@media only screen and (max-width: 1024px) {
  .access-section > div {
    height: 20vh;
  }
}

@media only screen and (max-width: 640px) {
  .access-section > div:last-child {
    justify-content: flex-end;
    padding-bottom: 10px;
  }

  .access-section > div:last-child h1 {
    font-size: 5vw;
    line-height: 1.2;
  }
  .paid {
    left: 4vw;
    width: 64vw;
  }

  .online-shopping {
    left: 35vw;
    width: 50vw;
    top: 19vw;
  }

  .access-section > div {
    height: 75vh;
  }

  .access-section {
    margin-top: 160px;
  }
}

@media only screen and (max-width: 445px) {
  .access-section > div {
    height: 52vh;
  }
}
