.footer.container{
    background-color: #452b48;
    align-content: center;
}

.footer-section{
    display: flex;
    width: 80vw;
    margin: 15vh auto 0;
    justify-content: space-between;
}

.footer-logo{
    text-align: center;
    width: 70vw;
}

.footer-note{
    align-self: flex-end;
    width: 50vw;
    padding: 5vw 5vw 0;
}

.footer-note span{
    font-size: 1vw;
}

.footer-note p{
    font-size: 1vw;
    font-family: serif;
    line-height: 1;
    margin-top: 10px;
}

.footer-links{
    display: flex;
    width: 50vw;
    justify-content: space-around;
}

.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 2vw;
}

.footer-links a:hover{
    color: rgb(220, 220, 220); 
}

.pages, .social-media{
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px){
    .footer-section {
        margin: 0vh auto 0;
    }
}

@media only screen and (max-width: 768px){
    .footer-section {
        width: 90%;
    }
}

@media only screen and (max-width: 640px){
    .footer.container{
        padding: 50px 0px;
    }

    .footer-section {
        width: 100%;
        flex-direction: column;
    }
    .footer-note p{
        font-size: 2vw;
    }
    .footer-note{
        width: 90%;
        margin: auto;
    }
    .footer-note span{
        font-size: 3vw;
    }
    .footer-links a {
        font-size: 5vw;
    }
    .footer-logo , .footer-links {
        width: 90%;
        margin: auto;
    }
    .footer-logo img{
        width: 30vw;
    }
    .footer-logo {
        margin-bottom: 30px;
        margin-top: 50px;
    }
}