.footer.container{
    background-color: #452b48;
    align-content: center;
}

.footer-section{
    display: flex;
    width: 70%;
    margin: 5% auto 0;
    justify-content: space-between;
}

.footer-logo{
    text-align: center;
    width: 50%;
}

.footer-note{
    align-self: flex-end;
    width: 50%;
    padding: 5% 5% 0;
}

.footer-note p{
    font-size: 14px;
    font-family: serif;
    line-height: 1.2;
    margin-top: 10px;
}

.footer-links{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 28px;
}

.footer-links a:hover{
    color: rgb(220, 220, 220); 
}

.pages, .social-media{
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px){
    .footer-section {
        width: 90%;
    }
}
@media only screen and (max-width: 640px){
    .footer-section {
        width: 100%;
    }
    .footer-note {
        width: 100%;
    }
    .footer-links {
        width: 60%;
    }
    .footer-logo {
        width: 40%;
    }
}