.gif-section.container {
  min-width: 65vw;
  margin: auto;
}

.gif-container {
  display: flex;
  justify-content: space-between;
}

.gif-container > div {
  width: 45%;
}
.gif-container img {
    width: 43vw;
  }

.gif-container .text h1 {
  font-size: 10vw;
  margin-bottom: 20px;
}

.gif-container .text .subheader {
  font-size: 4vw;
  line-height: 1.6;
}

@media only screen and (max-width: 1024px) {
  .gif-container {
    justify-content: space-evenly;
  }

  .gif-container .text .subheader {
    font-size: 4.5vw;
  }
}


@media only screen and (max-width: 414px) {

  .gif-section.container {
    min-width: 90vw;
  }


  .gif-container .text h1 {
    font-size: 12vw;
  }

  .gif-container .text .subheader {
    font-size: 5vw;
  }

  .gif-container img {
    width: 47vw;
  }
}

/* @media only screen and (max-width: 414px) {

  .gif-section.container {
    min-width: 90vw;
  }

  .gif-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .gif-container > div {
    width: 90%;
    margin: auto auto 50px;
  }

  .gif-container .text h1 {
    font-size: 16vw;
  }

  .gif-container .text .subheader {
    font-size: 8vw;
    margin-bottom: 60px;
  }

  .gif-container img {
    width: 90vw;
  }
}

 */
