.hero {
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
}

.hero-section {
  width: 65vw;
  margin: 20vh auto auto;
  text-align: center;
  position: relative;
}

.hero-img img {
  width: 50vw;
  -webkit-filter: drop-shadow(10px 20px 10px #111);
  filter: drop-shadow(10px 20px 10px #111);
}

.hero-text {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 4vh;
  width: 100%;
  margin: auto;
}

.hero-text div:first-child {
  text-align: left;
}
.hero-text div:last-child {
  text-align: right;
}

.hero-text h1 {
  font-size: 5vw;
  margin-bottom: 20px;
  text-shadow: 6px 6px 5px #01010163;
}

@media only screen and (max-width: 1024px) {
  .hero-section {
    min-width: 80%;
    margin: 30vh auto auto;
  }

  .hero-img img {
    width: 65vw;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    margin: auto auto;
  }
}

@media only screen and (max-width: 640px) {
  .hero-text h1 {
    font-size: 12vw;
  }

  .hero-section {
    min-width: 90vw;
  }

  .hero-text {
    top: 0vh;
  }

  .hero.container {
    min-height: 90vh;
    margin-bottom: -90px;
  }
}
