
.mobileApp-section{
    display: flex;
    justify-content: space-between;
}

.mobileApp-img{
    background-repeat: no-repeat;
    text-align: right;
    background-size: cover;
    width: 40vw;
    padding: 0;
}

.mobileApp-img img{
    width: 20vw;
}

.mobileApp-text{
    text-align: right;
    padding-right: 18%;
    padding-top: 3%;
    width: 50vw;
}

.mobileApp-text h1{
    font-size: 10vw;
    margin-bottom: 20px;
}
.mobileApp-text .subheader{
    font-size: 4vw;
    line-height: 1.6;
}


@media only screen and (max-width: 1024px){
    /* .mobileApp-text {
        padding: 10% 10% 0 0;
    }
    .mobileApp-text h1 {
        font-size: 120px;
    }
    .mobileApp-text .subheader {
        font-size: 50px;
    } */
}

@media only screen and (max-width: 768px){
    
    /* .mobileApp-img {
        height: 500px;
    }
    .mobileApp-img img{
        height: 500px;
    }
    .mobileApp-text h1 {
        font-size: 90px;
    }
    .mobileApp-text .subheader {
        font-size: 40px;
    } */
}

@media only screen and (max-width: 640px){
    /* .mobileApp-text {
        padding: 10% 5% 0 0;
    } */
}

@media only screen and (max-width: 414px){
    /* .mobileApp-section{
        flex-direction: column;
    }
    .mobileApp-section >div{
        max-width: 100%;
    } */
}