
.mobileApp-section{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.mobileApp-img{
    background-repeat: no-repeat;
    text-align: right;
    margin-right: 0%;
    padding: 0;

}

.mobileApp-text{
    text-align: right;
    padding-right: 18%;
    padding-top: 3%;
}

.mobileApp-text h1{
    font-size: 140px;
    margin-bottom: 20px;
}
.mobileApp-text .subheader{
    font-size: 66px;
    line-height: 1.6;
}


@media only screen and (max-width: 1024px){
    .mobileApp-text {
        padding: 10% 10% 0 0;
    }
    .mobileApp-text h1 {
        font-size: 120px;
    }
    .mobileApp-text .subheader {
        font-size: 50px;
    }
}

@media only screen and (max-width: 768px){
    
    .mobileApp-img {
        height: 500px;
    }
    .mobileApp-img img{
        height: 500px;
    }
    .mobileApp-text h1 {
        font-size: 90px;
    }
    .mobileApp-text .subheader {
        font-size: 40px;
    }
}

@media only screen and (max-width: 640px){
    .mobileApp-text {
        padding: 10% 5% 0 0;
    }
}

@media only screen and (max-width: 414px){
    .mobileApp-section{
        flex-direction: column;
    }
    .mobileApp-section >div{
        max-width: 100%;
    }
}