body {
  background-color: #26435e;
  font-family: "Anton", sans-serif;
}

.navbar {
  background: #ffffff30;
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  height: 100px;
}

.navbar.fixed {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

.navbar-nav {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-nav img {
  width: 80px;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.navbar-nav .nav-link {
  color: white;
  margin: auto 40px;
}

.container {
  min-height: 100vh;
  min-width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  color: white;
}
