html,
body {
  background-color: #26435e;
  font-family: "Anton", sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  background: #ffffff30;
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  height: 100px;
}

.navbar.fixed {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

.navbar-nav {
  width: 65vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-nav img {
  width: 80px;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.navbar-nav .nav-link {
  color: white;
  margin: auto 0 auto 80px;
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  color: white;
}


/* Terms & Conditions */

.terms{
  color: white;
  text-align: center;
  width: 65vw;
  margin: 80px auto 0;
}

.terms-title h1{
  font-size: 4vh;

}

.terms-title p, .terms-text, .terms-text p{
  font-family: sans-serif;
  text-align: justify;
  margin: 30px 0 30px;
}

.terms-text h5{
  font-weight: 600;
  margin:30px 0 30px;
}

@media only screen and (max-width: 1024px) {
  .navbar-nav {
    min-width: 80%;
  }
  .terms{
    width: 85%;
  }
}

@media only screen and (max-width: 640px) {
  .navbar-nav .nav-link {
    margin: auto 0 auto 30px;
  }
}

@media only screen and (max-width: 414px) {
  .navbar-nav  {
    min-width: 90vw;
  }
}




